@{
    ViewBag.Title = "About Centric Consulting";
}
    <div class="jumbotron" style="background-image:url(../../centricImages/lightbulb-idea-innovation.jpg); background-size: cover; height: 300px;">
        <div class="text-left">
            <br />
            <br />
            <h1 style="color:white">About Centric Consulting</h1>
            <h4 style="color:white">We treat our culture with the same importance as we do our business strategy.</h4>
        </div>
    </div>

<h2><span style="color: indigo"><strong>@ViewBag.Title</strong></span></h2> 
<h4><strong>@ViewBag.Message</strong></h4>


<p>
    <br />  
    We’ve always done things a little differently at Centric Consulting.
    We didn’t start in a conference room. Instead, we started on a couch. And we’ve grown our business on a set of three building blocks:
    <br /> 
    <br />  
    1. Enjoy the people you work with, have fun, and do great work.
    <br /> 
    <br />  
    2. Not only do these blocks serve as our model for consulting, but they’ve created a culture that values team unity and collaboration. We enjoy working together, alongside you, to create personalized solutions for your business.
    <br />  
    <br />  
    3. Learn more about who we are, what to expect when working with us, the core values that define us, and the leaders who shape us…
</p>
