@{
    ViewBag.Title = "About Centric Consulting";
}
<div class="jumbotron" style="background-image:url(../../centricImages/lightbulb-idea-innovation.jpg); background-size: cover; height: 300px;">
    <div class="text-left">
        <br />
        <br />
        <h1 style="color:white">About Centric Consulting</h1>
        <h4 style="color:white">We treat our culture with the same importance as we do our business strategy.</h4>
    </div>
</div>

<h2><span style="color: indigo"><strong>@ViewBag.Title</strong></span></h2>
<h4><strong>@ViewBag.Message</strong></h4>


<p>
    <br />
    We’ve always done things a little differently at Centric Consulting.
    We didn’t start in a conference room. Instead, we started on a couch. And we’ve grown our business on a set of three building blocks:
    <br />
    <br />
    1. Enjoy the people you work with, have fun, and do great work.
    <br />
    <br />
    2. Not only do these blocks serve as our model for consulting, but they’ve created a culture that values team unity and collaboration. We enjoy working together, alongside you, to create personalized solutions for your business.
    <br />
    <br />
    3. Learn more about who we are, what to expect when working with us, the core values that define us, and the leaders who shape us…
</p>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h2>Our Locations</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="text-center">
            <img src="~/centricImages/boston_2000x.jpg" class="img-thumbnail" width="175" height="175">
            <h3>Boston</h3>
        </div>
    </div>

    <div class="col-md-2">
        <div class="text-center">
            <img src="~/centricImages/charlotte-skyline-clear-sky-images.jpg" class="img-thumbnail" width="175" height="175">
            <h3>Charlotte</h3>
        </div>
    </div>

    <div class="col-md-2">
        <div class="text-center">
            <img src="~/centricImages/northern-chicago-skyline-at-sunset-chrisp0.jpg" class="img-thumbnail" width="175" height="175">
            <h3>Chicago</h3>
        </div>
    </div>

    <div class="col-md-2">
        <div class="text-center">
            <img src="~/centricImages/cincinnati.jpg" class="img-thumbnail" width="175" height="175">
            <h3>Cincinatti</h3>
        </div>
    </div>
    <div class="col-md-2">
        <div class="text-center">
            <img src="~/centricImages/Cleveland.jpg" class="img-thumbnail" width="175" height="175">
            <h3>Cleveland</h3>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-2">
            <div class="text-center">
                <img src="~/centricImages/columbus.jpg" class="img-thumbnail" width="175" height="175">
                <h3>Columbus</h3>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center">
                <img src="~/centricImages/INDIA.jpg" class="img-thumbnail" width="175" height="175">
                <h3>India</h3>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center">
                <img src="~/centricImages/Indianapolis.jpg" class="img-thumbnail" width="175" height="175">
                <h3>Indianapolis</h3>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center">
                <img src="~/centricImages/Louisville.jpg" class="img-thumbnail" width="175" height="175">
                <h3>Louisville</h3>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center">
                <img src="~/centricImages/MIAMI.jpg" class="img-thumbnail" width="190" height="190">
                <h3>Miami</h3>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center">
                <img src="~/centricImages/seattle-space-needle-picture-13661-848846.jpg" class="img-thumbnail" width="175" height="175">
                <h3>Seattle</h3>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-2">
                <div class="text-center">
                    <img src="~/centricImages/gateway-arch-and-saint-louis-skyline-on-the-mississippi-river-gregory-ballos.jpg" class="img-thumbnail" width="175" height="175">
                    <h3>St.Louis</h3>
                </div>
            </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <img src="~/centricImages/tampa-skyline-boats-1073302138.jpg" class="img-thumbnail" width="175" height="175">
                        <h3>Tampa</h3>
                    </div>
                </div>
        </div>    
