@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Centric Consulting Headquarters<br />
    Line 1<br />
    Line 2<br />
    <abbr title="Phone">Phone:</abbr>
    1234567890
</address>

<address>
    <strong>Email 1:</strong>   <a href="mailto:x@centric.com">x@centric.com</a><br />
    <strong>Email 2:</strong> <a href="mailto:x@centric.com">x@centric.com</a>
</address>