@{
    ViewBag.Title = "Contact Us!";
}
<h2><strong>@ViewBag.Title</strong></h2>
<h4><strong>@ViewBag.Message</strong></h4>

<address>
    Centric Consulting Corporate<br />
    1215 Lyons Rd Bldg F    <br />
    Dayton, OH 45458-1858<br />
    <abbr title="Phone">Phone:</abbr>
    888.781.7567
</address>

<address>
    <strong>Centric Representative:</strong>   <a href="mailto:caroline.weist@centricconsulting.com">caroline.weist@centricconsulting.com</a><br />
    <strong>Website Support:</strong>   <a href="mailto:ac941314@ohio.edu">ac941314@ohio.edu</a><br />
</address>