@{
    ViewBag.Title = "Contact Us!";
}

    <div class="jumbotron" style="background-image:url(https://aspnet.cob.ohio.edu/mis4200team11/centricImages/contact.jpg); background-size: cover; height: 300px;">
        <div class="text-left">
            <br />
            
            <br />
            <br />
            <h1 style="color:white">Contact Us</h1>
            <h4 style="color:white">Please reach out if you have any questions or need help with anything!</h4>
        </div>
    </div>

    
        <address>            
                Centric Consulting Corporate<br />
                1215 Lyons Rd Bldg F    <br />
                Dayton, OH 45458-1858<br />
                <abbr title="Phone">Phone:</abbr>
                888.781.7567
            
        </address>

        <address>
            <strong>Centric Representative:</strong>   <a href="mailto:caroline.weist@centricconsulting.com">caroline.weist@centricconsulting.com</a><br />
            <strong>Website Support:</strong>   <a href="mailto:MIS4200Team11@ohio.edu">MIS4200Team11@ohio.edu</a><br />
        </address>
   