@{
    ViewBag.Title = "Contact Us!";
}
<h2><strong>@ViewBag.Title</strong></h2>
<h4><strong>@ViewBag.Message</strong></h4>

<address>
    Centric Consulting Corporate<br />
    1215 Lyons Rd Bldg F    <br />
    Dayton, OH 45458-1858<br />
    <abbr title="Phone">Phone:</abbr>
    888.781.7567
</address>

<address>
    <strong>Email 1:</strong>   <a href="mailto:x@centric.com">x@centric.com</a><br />
    <strong>Email 2:</strong> <a href="mailto:x@centric.com">x@centric.com</a>
</address>