@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(https://aspnet.cob.ohio.edu/mis4200team11/centricImages/centricemployees.jpg); background-size:cover;height:300px;">
    <div class="text-left">

        <h1><span style="color:gold"><b>((</b></span><span style="color: indigo">CENTRIC</span><span style="color:gold"><b>))</b></span></h1>
        <h4 style="color:white"><b>Digital, business and technology consulting to transform your business</b></h4>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <h2><span style="color: indigo">About Centric</span></h2>
            <p>
                We treat our culture with the same importance as we do our business strategy.
            </p>
            <a href="https://aspnet.cob.ohio.edu/mis4200team11/home/about" class="btn btn-warning btn-md">Learn More ></a>
        </div>



    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h2><span style="color: indigo">Centric Values</span></h2>
            <p>
                We’re dedicated to providing you with an unmatched experience by working together to do what’s right by you while doing what’s right for all. Our seven core values reflect our professional passions and personal convictions.
            </p>
            <a href="https://aspnet.cob.ohio.edu/mis4200team11/home/corevalues" class="btn btn-warning btn-md">Learn More ></a>
        </div>
        </div>



    </div>
