@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric Consulting</h1>
    <p class="lead"> Visual Business and Technology Solutions</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Current Leaderboard</h2>
        <p>
            This section will be a dashboard for users to see the which users have the highest score.
        </p>
        
     
    </div>
    <div class="col-md-6">
        <h2>Your Recognition</h2>
        <p>
            This section will include a summary of the recognition the individual user has recieved.
        </p>
    </div>
    
</div>