@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="background-image:url(../../centricImages/centricemployees.jpg); background-size:cover;height:300px;">
        <div class="text-left">
           
            <h1><span style="color:gold">((</span><span style="color: indigo">CENTRIC</span><span style="color:gold">))</span></h1>
            <h4 style="color:white">Digital, business and technology consulting to transform your business</h4>
                
        </div>
    </div>

        <div class="row">
            <div class="col-md-6">
                <h2><span style="color: indigo">Current Leaderboard</span></h2>
                <p>
                    This section will be a dashboard for users to see the which users have the highest score.
                </p>


            </div>
            <div class="col-md-6">
                <h2><span style="color: indigo">Your Recognition</span></h2>
                <p>
                    This section will include a summary of the recognition the individual user has recieved.
                </p>
            </div>

        </div>
